@model PassionProject2024N01604846.Models.InstructorDto
@{
    ViewBag.Title = "DeleteConfirmInstructor";
}

@*confirm delete using the ID*@
<h2>Are you sure you want to delete this Lesson?</h2>
<h3>Instructor Number:</h3>
<p>@Model.InstructorNumber </p>
<h3>Instructor Name:</h3>
<p> @Model.FirstName @Model.LastName</p>

<form action="/Instructor/DeleteInstructor/@Model.InstructorId" method="POST">
    <p class="fw-bold">This Action cannot be undone</p>
    <input class="btn btn-danger" type="submit" value="Confirm Delete" />
    <a href="@Url.Action("List", "Instructor")" class="btn btn-secondary">Back to List</a>
</form>
