@model PassionProject2024N01604846.Models.InstrumentLessonDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Lesson?</h2>
<h3>Lesson Name:</h3>
<p>@Model.LessonName </p>
<h3>Instructor Name:</h3>
<p> @Model.FirstName @Model.LastName</p>

<form action="/Instructor/Delete/@Model.LessonID" method="POST">
    <p>This Action cannot be undone</p>
    <input class="btn btn-danger" type="submit" value="Confirm Delete" />
    <a href="@Url.Action("List", "Instructor")" class="btn btn-secondary">Back to List</a>
</form>