@model PassionProject2024N01604846.Models.Instructor
@{
    ViewBag.Title = "InstrumentLessonDetails";
}

<h2>InstrumentLessonDetails</h2>

<a href="/Instructor/ListInstrumentDetails">Go back to list</a>
<h2>Show Instructor</h2>
<div>Lesson name: @Model.FirstName</div>
<div>Start date: @Model.LastName</div>
<div> End date: @Model.HireDate</div>
<div>Instructor id: @Model.Wages</div>
