
@{
    ViewBag.Title = "Create";
}
@*creating a new lesson*@
<h2>Create Lesson</h2>
<form action="/Instructor/Create" method="Post">
    <div class="form-group">
        <label>Lesson Name</label>
        <input type="text" name="LessonName" />
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <input type="datetime" name="StartDate" />
    </div>
    <div class="form-group">
        <label>End Date</label>
        <input type="datetime" name="EndDate" />
    </div>
    <div class="form-group">
        <label>Instructor Id</label>
        <input type="number" name="InstructorId" />
    </div>
    <div>
        <input class="btn btn-secondary" type="submit" value="Add Lesson" />
        <a href="@Url.Action("List", "Instructor")" class="btn btn-secondary">Back to List</a>
    </div>
    
</form>

