@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Music Academy</h1>
        <p class="lead">Welcome to the Music Employement management system</p>

    </section>

    <div class="row">
        <a href="@Url.Action("List", "Instructor")" class="btn btn-secondary">List Lessons</a>
    </div>
</main>